In [1]:
import statsmodels.api as sm
import statsmodels.stats.sandwich_covariance as sw
import numpy as np
import pandas as pd

## Import data

In [2]:
OK = pd.read_excel(
    "data/OK.xlsx",
    sheet_name=0,
    engine="openpyxl"
)

OK["Date"] = pd.to_datetime(OK["Date"])
OK = OK.set_index("Date").sort_index()

OK.head()

            Close
Date
2020-01-02  54.99
2020-01-03  54.69
2020-01-06  54.67
2020-01-07  54.25
2020-01-08  54.35

In [3]:
SP500 = pd.read_excel(
    "data/SP500.xlsx",
    sheet_name=0,
    engine="openpyxl"
)

SP500["Date"] = pd.to_datetime(SP500["Date"])
SP500 = SP500.set_index("Date").sort_index()

SP500.head()

              Close
Date
2020-01-02  3257.85
2020-01-03  3234.85
2020-01-06  3246.28
2020-01-07  3237.18
2020-01-08  3253.05

In [18]:
GCF = pd.read_excel(
    "data/GCF.xlsx",
    sheet_name=0,
    engine="openpyxl"
)

GCF["Date"] = pd.to_datetime(GCF["Date"])
GCF = GCF.set_index("Date").sort_index()

GCF.head()

             Close
Date
2020-01-02  1524.5
2020-01-03  1549.2
2020-01-06  1566.2
2020-01-07  1571.8
2020-01-08  1557.4

## Calculate daily rate of return

In [4]:
# r(t+1) = ln[P(t+1) / P(t)]
OK["log_return"] = np.log(OK["Close"] / OK["Close"].shift(1))

# r(t+1) = [P(t+1) - P(t)] / P(t)
OK["arith_return"] = OK["Close"].pct_change()

OK.head()

            Close  log_return  arith_return
Date
2020-01-02  54.99         NaN           NaN
2020-01-03  54.69   -0.005470     -0.005456
2020-01-06  54.67   -0.000366     -0.000366
2020-01-07  54.25   -0.007712     -0.007682
2020-01-08  54.35    0.001842      0.001843

In [5]:
# r(t+1) = ln[P(t+1) / P(t)]
SP500["log_return"] = np.log(SP500["Close"] / SP500["Close"].shift(1))

# r(t+1) = [P(t+1) - P(t)] / P(t)
SP500["arith_return"] = SP500["Close"].pct_change()

SP500.head()

              Close  log_return  arith_return
Date
2020-01-02  3257.85         NaN           NaN
2020-01-03  3234.85   -0.007085     -0.007060
2020-01-06  3246.28    0.003527      0.003533
2020-01-07  3237.18   -0.002807     -0.002803
2020-01-08  3253.05    0.004890      0.004902

In [19]:
# r(t+1) = ln[P(t+1) / P(t)]
GCF["log_return"] = np.log(GCF["Close"] / GCF["Close"].shift(1))

# r(t+1) = [P(t+1) - P(t)] / P(t)
GCF["arith_return"] = GCF["Close"].pct_change()

GCF.head()

             Close  log_return  arith_return
Date
2020-01-02  1524.5         NaN           NaN
2020-01-03  1549.2    0.016072      0.016202
2020-01-06  1566.2    0.010914      0.010973
2020-01-07  1571.8    0.003569      0.003576
2020-01-08  1557.4   -0.009204     -0.009161

## Stock data

In [6]:
# 选用对数收益率列并去掉 NaN
KO_ret = OK["log_return"].dropna()

# 计算统计量
stats = {
    "Name"       : "Coca-Cola",
    "Ticker"     : "KO",
    "Mean"       : KO_ret.mean(),
    "Median"     : KO_ret.median(),
    "Std Dev"    : KO_ret.std(ddof=1),   # 样本标准差
    "Min"        : KO_ret.min(),
    "Max"        : KO_ret.max(),
    "Skewness"   : KO_ret.skew(),
    "Kurtosis"   : KO_ret.kurt(),
    "Start Date" : KO_ret.index.min().date(),
    "End Date"   : KO_ret.index.max().date()
}


summary = pd.DataFrame(stats, index=["Value"]).T
print(summary.to_string())

                 Value
Name         Coca-Cola
Ticker              KO
Mean          0.000193
Median        0.000958
Std Dev       0.015624
Min          -0.101728
Max           0.062783
Skewness     -0.841427
Kurtosis      6.966093
Start Date  2020-01-03
End Date    2022-12-30

In [7]:
# 选用对数收益率列并去掉 NaN
SP500_ret = SP500["log_return"].dropna()

# 计算统计量
stats = {
    "Name"       : "S&P 500",
    "Ticker"     : "^GSPC",
    "Mean"       : SP500_ret.mean(),
    "Median"     : SP500_ret.median(),
    "Std Dev"    : SP500_ret.std(ddof=1),   # 样本标准差
    "Min"        : SP500_ret.min(),
    "Max"        : SP500_ret.max(),
    "Skewness"   : SP500_ret.skew(),
    "Kurtosis"   : SP500_ret.kurt(),
    "Start Date" : SP500_ret.index.min().date(),
    "End Date"   : SP500_ret.index.max().date()
}

summary = pd.DataFrame(stats, index=["Value"]).T
print(summary.to_string())

                 Value
Name           S&P 500
Ticker           ^GSPC
Mean          0.000218
Median        0.000881
Std Dev       0.016118
Min          -0.127652
Max           0.089683
Skewness     -0.745384
Kurtosis     10.943675
Start Date  2020-01-03
End Date    2022-12-30

## Separate the data

In [8]:
# --- 函数：计算描述性统计 -------------------------------------------------
def get_stats(series):
    return {
        "Mean"     : series.mean(),
        "Median"   : series.median(),
        "Std Dev"  : series.std(ddof=1),
        "Min"      : series.min(),
        "Max"      : series.max(),
        "Skewness" : series.skew(),
        "Kurtosis" : series.kurt()
    }

# --- 1. 按时间切片 --------------------------------------------------------
train_OK = OK.loc["2020":"2021", "log_return"].dropna()   # 前两年
test_OK  = OK.loc["2022", "log_return"].dropna() # 最后一年

# --- 2. 生成统计表 ---------------------------------------------------------
stats_train_OK = pd.DataFrame(get_stats(train_OK), index=["2020-2021"]).T
stats_test_OK  = pd.DataFrame(get_stats(test_OK),  index=["2022"]).T

print("\n===== KO-train (2020-2021) =====")
print(stats_train_OK.to_string())

print("\n===== KO-test (2022) =====")
print(stats_test_OK.to_string())

===== KO-train (2020-2021) =====
          2020-2021
Mean       0.000147
Median     0.000751
Std Dev    0.016984
Min       -0.101728
Max        0.062783
Skewness  -0.815080
Kurtosis   6.624366

===== KO-test (2022) =====
              2022
Mean      0.000286
Median    0.001399
Std Dev   0.012482
Min      -0.072169
Max       0.037942
Skewness -0.835994
Kurtosis  4.678076

In [9]:
# --- 1. 按时间切片 --------------------------------------------------------
train_SP500 = SP500.loc["2020":"2021", "log_return"].dropna()   # 前两年
test_SP500  = SP500.loc["2022", "log_return"].dropna() # 最后一年

# --- 2. 生成统计表 ---------------------------------------------------------
stats_train_SP500 = pd.DataFrame(get_stats(train_SP500), index=["2020-2021"]).T
stats_test_SP500  = pd.DataFrame(get_stats(test_SP500),  index=["2022"]).T

print("\n===== SP500-train (2020-2021) =====")
print(stats_train_SP500.to_string())

print("\n===== SP500-test (2022) =====")
print(stats_test_SP500.to_string())

===== SP500-train (2020-2021) =====
          2020-2021
Mean       0.000755
Median     0.001658
Std Dev    0.016527
Min       -0.127652
Max        0.089683
Skewness  -1.049193
Kurtosis  14.893687

===== SP500-test (2022) =====
              2022
Mean     -0.000861
Median   -0.001593
Std Dev   0.015239
Min      -0.044199
Max       0.053953
Skewness -0.008660
Kurtosis  0.367144

## OLS

In [15]:
# X: intercept + time trend based on the DatetimeIndex
t = OK.index.map(pd.Timestamp.toordinal).to_numpy()   # convert dates → integers
X = sm.add_constant(t)                                # add intercept

# OLS
model = sm.OLS(OK['Close'], X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Close   R-squared:                       0.617
Model:                            OLS   Adj. R-squared:                  0.617
Method:                 Least Squares   F-statistic:                     1217.
Date:                Mon, 16 Jun 2025   Prob (F-statistic):          1.83e-159
Time:                        23:21:24   Log-Likelihood:                -2053.0
No. Observations:                 756   AIC:                             4110.
Df Residuals:                     754   BIC:                             4119.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.079e+04    311.054    -34.704      0.000   -1.14e+04   -1.02e+04
x1             0.0147      0.000     34.882      0.000       0.014       0.016
==============================================================================
Omnibus:                      111.004   Durbin-Watson:                   0.049
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              187.571
Skew:                           0.924   Prob(JB):                     1.86e-41
Kurtosis:                       4.592   Cond. No.                     1.72e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.72e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [16]:
hac_cov = sw.cov_hac(model, 1)

In [17]:
s = model.get_robustcov_results(cov_type='HAC', maxlags=1)
print(s.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Close   R-squared:                       0.617
Model:                            OLS   Adj. R-squared:                  0.617
Method:                 Least Squares   F-statistic:                     333.7
Date:                Mon, 16 Jun 2025   Prob (F-statistic):           5.26e-62
Time:                        23:21:52   Log-Likelihood:                -2053.0
No. Observations:                 756   AIC:                             4110.
Df Residuals:                     754   BIC:                             4119.
Df Model:                           1
Covariance Type:                  HAC
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.079e+04    594.031    -18.172      0.000    -1.2e+04   -9628.666
x1             0.0147      0.001     18.268      0.000       0.013       0.016
==============================================================================
Omnibus:                      111.004   Durbin-Watson:                   0.049
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              187.571
Skew:                           0.924   Prob(JB):                     1.86e-41
Kurtosis:                       4.592   Cond. No.                     1.72e+09
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity and autocorrelation robust (HAC) using 1 lags and without small sample correction
[2] The condition number is large, 1.72e+09. This might indicate that there are
strong multicollinearity or other numerical problems.